<h2><%=translate('muck.users.access_code_requests') %></h2>
<%= render :partial => 'admin/access_codes/access_code_nav' %>
<h3><%= @title %></h3>
<table class="adminTable" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th><%=translate('muck.users.access_code_requests_name') %></th>
      <th><%=translate('muck.users.access_code_requests_email') %></th>
      <th><%=translate('muck.users.access_code_requests_signed_up_on') %></th>
      <th><%=translate('muck.users.access_code_requests_code_sent_on') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="current-access-code-requests">
    <%= render :partial => 'admin/access_code_requests/access_code_request', :collection => @access_code_requests %>
  </tbody>
</table>
<%= will_paginate @access_code_requests %>