<p>
  <%= link_to translate('muck.users.list_access_codes'), admin_access_codes_path %> |
  <%= link_to translate('muck.users.bulk_access_codes'), bulk_admin_access_codes_path %> |
  <%= link_to translate('muck.users.unfullfilled_access_code_requests'), admin_access_code_requests_path(:unfullfilled => true) %> |
  <%= link_to translate('muck.users.fullfilled_access_code_requests'), admin_access_code_requests_path(:fullfilled => true) %>
</p>
<%= link_to translate('muck.users.access_code_new'), new_admin_access_code_path, { :class => 'dialog-pop', :title => translate('muck.users.add_access_code_title') } %>