<h2><%=translate('muck.users.bulk_access_codes_title') %></h2>
<%= render :partial => 'admin/access_codes/access_code_nav' %>
<p><%=translate('muck.users.bulk_access_codes_description') %></p>
<%= output_errors(translate('muck.users.bulk_access_code_problem'), {:class => 'help-box'}, @access_code) %>
<%= muck_form_for :access_code, :url => bulk_create_admin_access_codes_path, :html => {:class => "standard-form alt"} do |f| -%>
  <div class="span-11 column colborder">
    <%= f.text_field :code, { :label => translate('muck.users.access_code'),
                              :tip => translate('muck.users.bulk_access_code_tip'),
                              :hide_required => true } -%>
    <%= f.text_field :use_limit, { :label => translate('muck.users.use_limit'),
                                   :tip => translate('muck.users.use_limit_tip') } -%>
    <%= f.check_box :unlimited, { :label => translate('muck.users.unlimited'),
                                  :tip => translate('muck.users.unlimited_tip') } -%>
    <%= f.text_field :expires_at, { :label => translate('muck.users.expiration_date'),
                                    :tip => translate('muck.users.expiration_date_tip'),
                                    :class => 'date_pick' } -%>
    <%= f.text_field :subject, { :label => translate('muck.users.bulk_access_code_subject') } -%>
    <%= f.text_area :message, { :label => translate('muck.users.bulk_access_code_message') } -%>
    <p><%=translate('muck.users.access_code_message_help') %></p>
  </div>
  <div class="span-11 column">
    <div>
      <% if @access_code_requests_count > 0 -%>
        <%= f.check_box :send_requests, { :label => translate('muck.users.access_code_fullfill_invites'),
                                          :tip => translate('muck.users.access_code_fullfill_invites_tip') } -%>
        <p><%=translate('muck.users.access_code_request_count', :access_code_requests_count => @access_code_requests_count) %></p>                                  
        <%= f.text_field :send_request_limit, { :label => translate('muck.users.access_code_fullfill_invites_limit'),
                                                :tip => translate('muck.users.access_code_fullfill_invites_limit_tip') } -%>
      <% end -%>
    </div>
    <% if @access_code_requests_count > 0 -%>
      <p style="text-align:center;font-weight:bold;font-size:24px;margin:15px;0"><%=translate('muck.users.bulk_access_codes_or') %></p>
    <% end -%>
    <div id="email-list">
      <%= f.text_area :emails, { :label => translate('muck.users.bulk_access_code_emails'),
                                 :tip => translate('muck.users.bulk_access_code_emails_tip')  } -%>
    </div>
    <div id="email-list-not-included-message" style="display:none;">
      <p>Fulfilling requests prevents you from sending out invites to a list of emails.</p>
    </div>
  </div>
  <div class="span-24 column center">
    <%= f.submit translate('muck.users.send_access_codes') %>
  </div>
<% end -%>
<% content_for :javascript do -%>
<script type="text/javascript" language="JavaScript">
  jQuery(document).ready(function(){
    jQuery('.date_pick').datepicker();
  });
  jQuery("#access_code_send_requests").click(function(){
		jQuery('#email-list').toggle();
		jQuery('#email-list-not-included-message').toggle();
	});
</script>
<% end -%>