<h2><%=translate('muck.users.access_code') %></h2>
<%= render :partial => 'admin/access_codes/access_code_nav' %>
<table class="adminTable" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th><%=translate('muck.users.access_code') %></th>
      <th><%=translate('muck.users.access_code_uses') %></th>
      <th><%=translate('muck.users.access_code_use_limit') %></th>
      <th><%=translate('muck.users.access_code_unlimited') %></th>
      <th><%=translate('muck.users.access_code_expires') %></th>
      <th><%=translate('muck.users.access_code_created') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <%= render :partial => 'admin/access_codes/access_code', :object => @access_code %>
</table>

<h3><%=translate('muck.users.access_code_related_users') %></h3>
<table class="adminTable" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th><%=translate('muck.users.login') %></th>
      <th><%=translate('muck.users.email') %></th>
      <th><%=translate('muck.users.first_name') %></th>
      <th><%=translate('muck.users.last_name') %></th>
    </tr>
  </thead>
  <%= render :partial => 'admin/access_codes/user', :collection => @access_code.users %>
</table>