<tr id="<%=user.dom_id('row')%>" class="<%= cycle('odd','even') %> <%=active_class(user)%>">
  <td><%= link_to h(user.full_name), admin_user_path(user) %></td>
  <td><%= mail_to h(user.email), user.email %></td>
  <td>
	<ul id="<%=user.dom_id('permissions')%>" class="permissions inline">
	  <%= render :partial => 'admin/permissions/permission', :collection => user.permissions, :locals => { :user => user } %>
	</ul>
  </td>
  <td>&nbsp;</td>
  <td valign="bottom">
    <div id="menu_<%= user.id %>"> 
      <ul class="drop-menu"> 
      	<li><%= link_to(translate('muck.users.change_permissions'), permissions_admin_user_path(user), { :title => translate('muck.users.change_permissions_for', :user => user.full_name), :class => 'dialog-pop', :alt => 'pop' }) %></li> 
      	<li><%= render :partial => 'admin/users/activate', :locals => { :user => user }, :alt => 'pop' %></li> 
      	<li><%= link_to(t("muck.users.edit"), edit_admin_user_path(user.id), { :title =>t('muck.users.edit_this_user'), :class => 'dialog-pop', :alt => 'pop'}) -%></li> 
      	<li><%= link_to(t("muck.general.delete"), admin_user_path(user.id), { :title => t('muck.users.delete_this_user'), :class => 'delete-user ajax-delete' }) -%></li> 
      </ul> 
    </div>
  </td>
</tr>