<table class="adminTable">
	<thead>
  	<tr>
  		<th><%= t('muck.users.name') %></th>
  		<th><%= t('muck.users.email_address') %></th>
  		<th><%= t('muck.users.roles') %></th>
  		<th></th>
  		<th></th>
  		<th></th>
  		<th></th>
  	</tr>
	</thead>
	<tbody>
	  <%= render :partial => 'admin/users/row', :collection => @users, :as => :user %>
	</tbody>
	<tfoot>
	  <tr>
	    <td colspan="7">
	      <%= will_paginate @users %>
	    </td>
	  </tr>
	</tfoot>
</table>